#about {
  & .container {
    flex-direction: column;
    gap: var(--rem-2);

    & div:nth-child(1) {
      flex-direction: column;
      width: 18.5rem;
      gap: var(--rem-1);

      & img {
        width: 7.5rem;
      }

      & div:nth-child(2) {
        gap: 0.5rem;
        & p {
          font-size: var(--fs-p-md);
          font-weight: var(--fw-regular);
          color: var(--text-color-secondary);
        }
      }
    }

    & > div:nth-child(2) {
      & ul li {
        gap: .5rem;
        color: var(--text-color-secondary);
      }
    }
  }
}

@media (width >= 80em) {
  #about {
    & .container {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      & div:nth-child(1){
        width: 37rem;
        flex-direction: row ;
      }
      &  > div:nth-child(2) {
        width: 17.5rem ;
      }
    }
  }
}
